*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    height:100vh;
    font-family:Arial;
    background:#050816;
    overflow:hidden;
    color:white;
}

/* SIDEBAR */

.sidebar{
    width:280px;
    background:#070b1c;
    border-right:1px solid #1d2542;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.logo{
    font-size:30px;
    font-weight:bold;
    margin-bottom:30px;
}

.logo span{
    display:block;
    font-size:14px;
    color:#8b5cf6;
}

.new-chat{
    padding:15px;
    border:none;
    border-radius:14px;
    background:linear-gradient(90deg,#2563eb,#9333ea);
    color:white;
    font-size:18px;
    margin-bottom:30px;
    cursor:pointer;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.item{
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
    background:#0b1024;
}

.item:hover,
.active{
    border:1px solid #8b5cf6;
}

/* MAIN */

.main{
    flex:1;
    display:flex;
    flex-direction:column;
    background:
    radial-gradient(circle at top right,
    #16245c,
    #050816);
}

/* TOPBAR */

.topbar{
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.topbar input{
    width:50%;
    padding:15px;
    border:none;
    border-radius:16px;
    background:#0c122b;
    color:white;
    font-size:16px;
}

.icons{
    display:flex;
    gap:20px;
    align-items:center;
}

.profile{
    width:45px;
    height:45px;
    border-radius:50%;
    background:linear-gradient(90deg,#2563eb,#9333ea);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CHAT AREA */

.chat-area{
    flex:1;
    overflow-y:auto;
    padding:30px;
}

.welcome{
    text-align:center;
    margin-bottom:40px;
}

.welcome h1{
    font-size:50px;
    background:linear-gradient(90deg,#3b82f6,#a855f7);
    color:transparent;
}

.welcome p{
    margin-top:10px;
    color:#a1a1aa;
}

/* MESSAGES */

.message{
    margin-bottom:30px;
}

.user-box{
    display:flex;
    justify-content:flex-end;
}

.user-msg{
    background:linear-gradient(90deg,#2563eb,#9333ea);
    padding:15px 20px;
    border-radius:18px;
    max-width:400px;
    font-size:17px;
}

.bot-box{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.bot-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    background:linear-gradient(90deg,#2563eb,#9333ea);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

.bot-msg{
    background:#0c122b;
    border:1px solid #1d2542;
    padding:20px;
    border-radius:20px;
    max-width:600px;
    line-height:1.7;
    font-size:18px;
}

/* BOTTOM */

.bottom{
    padding:20px;
    display:flex;
    gap:15px;
}

.bottom input{
    flex:1;
    padding:18px;
    border:none;
    border-radius:18px;
    background:#0c122b;
    color:white;
    font-size:17px;
}

.bottom button{
    width:70px;
    border:none;
    border-radius:18px;
    background:linear-gradient(90deg,#2563eb,#9333ea);
    color:white;
    font-size:22px;
    cursor:pointer;
}