<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>AI Assistant</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="sidebar">

    <div class="logo">

        🤖 AI Assistant

        <span>ML Powered Chatbot</span>

    </div>

    <button class="new-chat">
        + New Chat
    </button>

    <div class="menu">

        <div class="item active">
            <i class="fa-regular fa-comment"></i>
            Chat
        </div>

        <div class="item">
            <i class="fa-solid fa-book"></i>
            Knowledge Base
        </div>

        <div class="item">
            <i class="fa-solid fa-gear"></i>
            Settings
        </div>

    </div>

</div>

<div class="main">

    <div class="topbar">

        <input
        type="text"
        placeholder="Search anything...">

        <div class="icons">

            <i class="fa-solid fa-moon"></i>

            <i class="fa-regular fa-bell"></i>

            <div class="profile">
                🤖
            </div>

        </div>

    </div>

    <div class="chat-area" id="chatbox">

        <div class="welcome">

            <h1>Hello, Developer!</h1>

            <p>How can I help you today?</p>

        </div>

    </div>

    <div class="bottom">

        <input
        id="msg"
        placeholder="Type your message here...">

        <button onclick="sendMsg()">
            <i class="fa-solid fa-paper-plane"></i>
        </button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>